@model DealDouble.Entities.Auction


<div class="modal-header">
    <h5 class="modal-title">Edit Auction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="EditForm">


    <div class="modal-body">
        <input type="hidden" name="ID" value="@Model.ID" />


        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="Title" value="@Model.Title" />
        </div>

        <div class="form-group">
            <label> Description</label>
            <input class="form-control" name="Description" value="@Model.Description" />
        </div>

        <div class="form-group">
            <label>ActualAmount</label>
            <input class="form-control" name="ActualAmount" value="@Model.ActualAmount" />
        </div>

        <div class="form-group">
            <label>StartingTime</label>
            <input class="form-control" name="StartingTime" value="@Model.StartingTime" />
        </div>

        <div class="form-group">
            <label>EndingTime</label>
            <input class="form-control" name="EndingTime" value="@Model.EndingTime" />
        </div>

        @*--------home work-------*@
        @*<div class="form-group">
            <label>Select pictures</label>
            <input id="AuctionPictures" class="form-control" name="AuctionPictures" type="file" multiple />
            <div id="picturesArea"></div>
            <input type="hidden" name="Auctionpictures" id="pictureIDs" />
        </div>*@
        @*----------------------------*@


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="button" id="SaveButton">Save</button>
    </div>
</form>
<script>
        $("#SaveButton").click(function () {
            $.ajax({
                url: "@Url.Action("edit","Auctions")",
                method: "post",
                data: $("#EditForm").serialize()
            }).done(function (response) {
                debugger;
                $("#listArea").html(response);
                $("#formModal").modal("toggle");
            });
        });
    //-------------------------Home Work-----------------------------------------------
        
    //-------------------------------------------------------------------------------------
</script>


